<!doctype html>

<html lang="en">
  <head>

    <!-- Preconnect to establish early connections to important third-party origins -->
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://assets.ubuntu.com">
    <link rel="preconnect" href="https://munchkin.marketo.net">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}Snaps are containerised software packages that are simple to create and install. They auto-update and are safe to run. And because they bundle their dependencies, they work on all major Linux systems without modification.{% endblock %}">
    <meta name="copydoc" content="{% block meta_copydoc %}https://drive.google.com/drive/folders/1q9ia7iDuWQlCaJ7nfKVeQ5G-FPyJbP-H{% endblock %}">
    <meta name="google-site-verification" content="Y1JayrP2iS6jS6Rd7uGX3Kzgm0oD8rV5R6TkzteLbQg" />

    <title>Descarga videos de Instagram</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block meta %}
      <meta property="og:title" content="Descarga videos de Instagram"/>
      <meta property="og:site_name" content="Descarga Videos de Instagram"/>
      <meta property="og:type" content="website"/>
      <meta property="og:description" content="Descarga cualquier video de Instagram simplemente con su dirección URL en 3 sencillos pasos"/>
      <meta property="og:image" content="" />
      <meta property="og:url" content="" />
    {% endblock %}

    {% block extra_meta %}{% endblock %}

    </head>
    <body>
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </body>

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@id": "https://snapcraft.io/#website",
          "@type": "WebPage",
          "name": "Descarga videos de Instagram",
          "url": "https://descargavideosdeinstagram.com"
        }
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>